---
layout: archive
title: "Teaching and Outreach"
permalink: /edu/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: banner4.jpg
  actions:
excerpt: "Courses I have taught/TA'd and outreach involvement."

feature_row3:
  - image_path: samples.jpg
    alt: "Samples used for a rock/mineral ID lab"
    title: "Courses taught / TA'd"
    excerpt: "I have taught or TA'd the following courses: <br>
    <ul> 
        <li>GE3400 - Fundamentals of Geophysics</li>
        <li>GE4530/5430 - Planetary Geology/Geophysics</li>
    </ul>
    url: 

feature_row4:
  - image_path: syp.jpg
    alt: "Landslide box models"
    title: "Summer Youth Programs"
    excerpt: "Placeholder text"
---

{% include base_path %}

{% include feature_row id="feature_row3" type="left" %}
{% include feature_row id="feature_row4" type="left" %}

I wrote my <a href="https://digitalcommons.mtu.edu/etdr/1049/">MS Thesis</a>
on the rock magnetic properties of the Daule L5 ordinary chondrite meteorite.